1. csv 폴더 안에 있는 Sales Records.csv 로드 
2. 'Order ID', 'Total Revenue', 'Total Cost', 'Total Profit' 컬럼을 삭제
3. 컬럼의 이름을 변경 : ['대륙', '국가', '타입', '채널', '우선순위', '주문일자', '발송일자', '판매단위', '단가', '원가']
4. 대륙, 국가를 기준으로 오름차순 정렬
5. 인덱스를 초기화(기존의 인덱스는 삭제)

In [ ]:
import pandas as pd

In [ ]:
sales = pd.read_csv('../csv/Sales Records.csv')
sales.head(1)

In [ ]:
# 특정 컬럼을 삭제 
# drop()
# axis는 행을 삭제가 할것인가? 아니면 열을 삭제할 것인가? 를 지정 
# 0 : 행을 삭제 ,  1: 열을 삭제
# rows : 행을 삭제, columns : 열을 삭제
sales.drop(['Order ID', 'Total Revenue', 'Total Cost', 'Total Profit'], axis='columns', inplace=True)

In [ ]:
# 컬럼들의 이름을 변경
sales.columns = ['대륙', '국가', '타입', '채널', '우선순위', '주문일자', 
                 '발송일자', '판매단위', '단가', '원가']

In [ ]:
sales.head(1)

In [ ]:
# 정렬 변경 대륙, 국가 기준으로 오름차순
sales.sort_values(['대륙', '국가'], ascending=True, inplace=True)

In [ ]:
# 인덱스 초기화, 기존의 인덱스는 삭제

# case1
sales.reset_index(drop=True)

# case2
sales = sales.reset_index().drop(['index'], axis=1)

In [ ]:
sales.head()

In [ ]:
# 총 단가, 총 원가, 총 이윤 컬럼을 생성 
# 총 단가 = 판매단위 * 단가
# 총 원가 = 판매단위 * 원가
# 총 이윤 = 총 단가 - 총 원가
sales['총 단가'] = sales['판매단위'] * sales['단가']
sales.head()

In [21]:
sales['총 원가'] = sales['판매단위'] * sales['원가']
sales['총 이윤'] = sales['총 단가'] - sales['총 원가']
sales.head(2)

,대륙,국가,타입,채널,우선순위,주문일자,발송일자,판매단위,단가,원가,총 단가,총 원가,총 이윤
0,Asia,Bangladesh,Personal Care,Online,L,12/11/2016,1/13/2017,9420,81.73,56.67,769896.6,533831.40,236065.20
1,Asia,Bangladesh,Cosmetics,Offline,M,7/29/2010,9/11/2010,577,437.20,263.33,252264.4,151941.41,100322.99

In [26]:
# 그룹화
# groupby(그룹화 기준이되는 컬럼명)
group_data = sales.groupby('국가').sum()[['총 이윤']]

In [ ]:
# 총 이윤이 높은 나라 top10
group_data.sort_values(['총 이윤'], ascending=False).head(10)

In [30]:
# 총 이윤이 낮은 나라 bottom10
group_data.sort_values(['총 이윤'], ascending=True).head(10)

                              총 이윤
국가
Tajikistan             13662027.26
Mali                   13800334.90
Malta                  14163744.55
Italy                  14199991.25
Cape Verde             14383303.52
Belize                 14384763.70
Cote d'Ivoire          14521698.84
Syria                  14536103.72
Singapore              14709325.91
Sao Tome and Principe  14810451.22