In [ ]:
import pandas as pd

In [ ]:
# 파일 로드 
uriage = pd.read_csv("../csv/uriage.csv")
uriage.head(10)

In [ ]:
# 결측치 확인 
uriage.info()

In [ ]:
uriage.isna().sum()

1. item_name의 데이터를 모두 대문자로 변경
2. item_name의 데이터에서 공백을 모두 삭제
3. item_name을 기준으로 오름차순 정렬
4. 인덱스 초기화(기존의 인덱스 삭제)
5. item_price 결측치를 대체

In [ ]:
# 문자열을 모두 대문자로 변경하는 문자열 내부 함수
# upper()
a = 'Hello'
a.upper()

In [74]:
# item_name 컬럼의 데이터를 대문자로 변경

# case1
uriage['item_name'].str.upper()

0       상품A
1       상품A
2       상품A
3       상품A
4       상품A
       ...
2994    상품Y
2995    상품Y
2996    상품Y
2997    상품Y
2998    상품Z
Name: item_name, Length: 2999, dtype: object

In [ ]:
# case2
# apply(일반 함수) : 스리즈 형태의 데이터를 항목 하나하나 씩 함수에 대입하여 출력 값을 스리즈의 형태로 변경하여 출력

# 일반 함수 생성
def change(x):
    result = x.upper()
    return result
uriage['item_name'].apply(change)

In [ ]:
def func_1(x):
    result = x.upper()
    return result

print(func_1('Hello'))

In [ ]:
# case3
# apply(lambda함수)
# lambda 함수 : 함수를 생성과 동시에 호출

uriage['item_name'] = uriage['item_name'].apply(lambda x : x.upper())

In [ ]:
uriage.head(5)

In [ ]:
# 공백 제거 
# 문자열 사이의 공백도 삭제
# 좌우 공백을 삭제하는 함수 -> strip()
# 문자열 사이 공백을 삭제하는 방법 -> replace(" ", "")

# case1
uriage['item_name'].str.replace(" ", "")

In [ ]:
# case2 
# apply(일반함수)
def change(y):
    result = y.replace(" ", "")
    return result

uriage['item_name'].apply(change)

In [ ]:
# case3
# apply(lambda함수)
uriage['item_name'].apply(lambda z : z.replace(' ', ''))

In [ ]:
# 대문자로 변경, 공백 제거 

# case1
uriage['item_name'].str.upper().str.replace(" ", "")

In [ ]:
# case2
def change(x):
    # result = x.upper().replace(" ", "")
    result = x.upper()
    result = result.replace(" ", "")
    return result

uriage['item_name'].apply(change)

In [ ]:
# case3 
uriage['item_name'] =  uriage['item_name'].apply(lambda x : x.upper().replace(" ", ""))

In [ ]:
uriage.head()

In [ ]:
# item_name 기준으로 오름차순 정렬
uriage.sort_values('item_name', inplace=True)
# 인덱스를 초기화 (기존의 인덱스는 삭제)
uriage.reset_index(drop=True, inplace=True)

In [ ]:
uriage.head()

## 결측치에 데이터를 치환
1. 상품명에 따라 결측치를 각각 해당하는 상품의 평균값으로 대체
2. 상품A라면 상품A의 item_price의 평균값을 결측치에 대체

## loc[]
- 특정한 행이나 열을 추출 할때 사용
- loc[행의 조건식, 열의 조건식]
- 행의조건만 적게되면 열은 모두 포함
- 열의 조건만 사용하려면? loc[:, 열의 조건]
- loc[0:5] -> 인덱스가 0,1,2,3,4,5인 경우에 행을 출력
- loc[[1,6,9]] -> 인덱스가 1,6,9인 경우
- loc[[1,6,9], ['item_name', 'item_price']] -> 인덱스가 1,6,9이고 컬럼이 item_name과 item_price인 경우

In [79]:
uriage3 = uriage2.loc[[20, 500, 800, 1100]]

In [83]:
uriage3.set_index('item_name', inplace=True)
uriage3

              purchase_date  item_price customer_name
item_name
상품A        2019-07-07 21:49         NaN           김은우
상품D        2019-07-27 21:50       400.0           김지오
상품G        2019-04-30 15:25       700.0           김유준
상품J         2019-01-18 4:19      1000.0           김경민

In [91]:
uriage3.loc[uriage3['item_price'] == 400]

              purchase_date  item_price customer_name
item_name
상품D        2019-07-27 21:50       400.0           김지오

In [93]:
uriage3.loc[uriage3['item_price'] > 400]

              purchase_date  item_price customer_name
item_name
상품G        2019-04-30 15:25       700.0           김유준
상품J         2019-01-18 4:19      1000.0           김경민

In [89]:
uriage3.iloc[[1]]

              purchase_date  item_price customer_name
item_name
상품D        2019-07-27 21:50       400.0           김지오

In [ ]:
# 상품A인 데이터만 출력
# uriage.loc[[4,7,9,22]]
uriage.loc[uriage['item_name'] == "상품A"]

In [ ]:
fig = uriage['item_name'] == "상품A"

In [ ]:
fig

In [ ]:
# 상품명이 상품A인 경우의 item_price가 결측치 유무
fig2 = uriage.loc[fig, 'item_price'].isna()

In [ ]:
# 상품A인 경우 결측치의 값만 출력
uriage.loc[fig].loc[fig2]

In [ ]:
uriage.loc[fig & fig2]

In [ ]:
# 결측치가 아닌 값들을 출력
# ~ 연산자는 False를 True로 True를 False로 변경
uriage.loc[fig & ~fig2]

In [ ]:
# 상품A인 경우와 결측치를 제외한 item_price의 평균 값
a_price = uriage.loc[fig & ~fig2, 'item_price'].mean()

In [ ]:
# 상품A인 경우 item_price의 결측치 부분에 a_price로 대체
uriage[fig & fig2].fillna(a_price)

In [ ]:
item_list = uriage['item_name'].unique()

In [ ]:
# item_list를 기준으로 반복문 실행
for name in item_list:
    print(name)

In [ ]:
uriage2 = uriage.copy()

In [ ]:
for name in item_list:
    # loc에 들어갈 조건식 
    fig = uriage['item_name'] == name
    fig2 = uriage['item_price'].isna()

    # fig와 ~fig2의 조건식이 모두 참일때 item_price 평균값
    mean_price = uriage.loc[fig & ~fig2, 'item_price'].mean()
    # print(mean_price)
    # fig와 fig2 조건식이 모두 참인 경우 item_price에 mean_price값으로 대체
    uriage.loc[fig & fig2, 'item_price'] = mean_price
uriage.head()

In [72]:
uriage.isna().sum()

purchase_date    0
item_name        0
item_price       0
customer_name    0
dtype: int64

In [ ]:
data = [{'name' : 'test', 'age' : 10}, 
        {'name' : 'test2', 'age':20}]
df = pd.DataFrame(data)
df

In [ ]:
df['age'] = 30

In [ ]:
df['age']