In [ ]:
import pandas as pd

# 데이터프레임의 결합
1. 단순하게 행, 열을 결합
2. 특정한 조건에 맞는 결합

In [ ]:
df = pd.DataFrame(
    {
        'S1' : [1,2,3,4], 
        'S2' : [5,6,7,8]
    }
)
df

In [ ]:
df2 = pd.DataFrame([1,2])
df2

### concat()
1. 데이터프레임을 결합하는 함수
2. 매개변수 axis -> 행을 추가할것인가 열을 추가할것인가 지정
3. 단순한 데이터프레임의 결합
4. 매개변수 ignore_index -> 기본값은 False, 인덱스를 그대로 유지할것인가

In [ ]:
# 단순하게 행을 결합
pd.concat([df, df2], axis=0)

In [ ]:
# 단순하게 열을 결합
pd.concat([df, df2], axis=1)

In [ ]:
# 단순히 행을 결합할때 인덱스를 초기화
# case1
pd.concat([df, df2], axis=0, ignore_index=True)

In [ ]:
# case2
pd.concat([df, df2], axis=0).reset_index(drop=True)

In [ ]:
df3 = pd.DataFrame(
    {
        'S1' : [1,2]
    }
)
df3

In [ ]:
pd.concat([df, df3], axis=0)

### merge()
1. 데이터프레임을 결합하는 함수
2. 특정 조건에 맞춰서 열을 추가 
3. 매개변수 on -> 조건
4. 매개변수 how -> 데이터프레임 기준(left, right, inner, outer)

In [ ]:
data = [
    ['전기전자', '055930', '삼성전자', 74400], 
    ['화학', '051910', 'LG화학', 896000], 
    ['전기전자', '000660', 'SK하이닉스', 101500]
]
columns = ['업종', '종목코드', '종목명', '현재가']
df = pd.DataFrame(data = data, columns = columns)
df

In [ ]:
data = [
    ['은행', 2.92], 
    ['보험', 0.37], 
    ['화학', 0.06], 
    ['전기전자', -2.43]
]
columns = ['업종', '등락율']
df2 = pd.DataFrame(data=data, columns=columns)
df2

In [ ]:
# 업종을 기준으로 2개의 데이터프레임을 결합
pd.merge(left=df, right=df2, on='업종', how='inner')

In [ ]:
df3 = pd.DataFrame(
    {
        '업종' : ['서비스업'], 
        '종목코드' : ['035720'], 
        '종목명' : ['카카오'], 
        '현재가' : [121500]
    }
)
df3

In [ ]:
df4 = pd.concat([df, df3], axis=0, ignore_index=True)

In [ ]:
df4

In [26]:
pd.merge(df4, df2, on='업종', how='outer')

     업종    종목코드     종목명       현재가   등락율
0  전기전자  055930    삼성전자   74400.0 -2.43
1  전기전자  000660  SK하이닉스  101500.0 -2.43
2    화학  051910    LG화학  896000.0  0.06
3  서비스업  035720     카카오  121500.0   NaN
4    은행     NaN     NaN       NaN  2.92
5    보험     NaN     NaN       NaN  0.37