In [ ]:
# 외부의 라이브러리 설치
!pip install pandas
!pip install matplotlib

In [5]:
# 라이브러리 로드 
import pandas as pd

In [6]:
# 스리즈 형태의 데이터를 생성
pd_list = pd.Series(
    [5000, 6000, 6500, 6500], 
    index = ['아메리카노', '카페라떼', '카페모카', '카푸치노']
)

In [8]:
print(pd_list)

아메리카노    5000
카페라떼     6000
카페모카     6500
카푸치노     6500
dtype: int64

In [9]:
# 스리즈의 형태 데이터에서 values, index 값을 따로 추출
print("스리즈의 values = ", pd_list.values)
print("스리즈의 index = ", pd_list.index)

스리즈의 values =  [5000 6000 6500 6500]
스리즈의 index =  Index(['아메리카노', '카페라떼', '카페모카', '카푸치노'], dtype='object')

In [10]:
a = {
    'name': 'test', 
    'age' : 20, 
    'phone' : '01012345678'
}

In [11]:
print(a.keys())

dict_keys(['name', 'age', 'phone'])

In [12]:
print(a.values())

dict_values(['test', 20, '01012345678'])

In [14]:
print(pd_list)

아메리카노    5000
카페라떼     6000
카페모카     6500
카푸치노     6500
dtype: int64

In [15]:
# 스리즈에서 index의 값을 변경
pd_list.index = [1,2,3,4]
print(pd_list)

1    5000
2    6000
3    6500
4    6500
dtype: int64

In [16]:
# 데이터프레임 생성
values = [[1,2,3], [4,5,6], [7,8,9]]
print(values)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [17]:
df = pd.DataFrame(values)
print(df)

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [18]:
df

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [20]:
corona = pd.read_csv('../csv/corona.csv')
print(corona.head(3))

   Unnamed: 0                 createDt  deathCnt  decideCnt  seq   stateDt
0           0  2022-06-08 09:09:05.982     24305   18188200  904  20220608  \
1           1  2022-06-07 09:09:00.897     24299   18174842  903  20220607
2           2  2022-06-06 09:00:06.734     24279   18168670  902  20220606

  stateTime                 updateDt  accExamCnt  accDefRate
0     00:00                      NaN         NaN         NaN
1     00:00  2022-06-08 09:10:36.846         NaN         NaN
2     00:00  2022-06-08 09:10:50.441         NaN         NaN

In [21]:
corona.head(3)

,Unnamed: 0,createDt,deathCnt,decideCnt,seq,stateDt,stateTime,updateDt,accExamCnt,accDefRate
0,0,2022-06-08 09:09:05.982,24305,18188200,904,20220608,00:00,NaN,NaN,NaN
1,1,2022-06-07 09:09:00.897,24299,18174842,903,20220607,00:00,2022-06-08 09:10:36.846,NaN,NaN
2,2,2022-06-06 09:00:06.734,24279,18168670,902,20220606,00:00,2022-06-08 09:10:50.441,NaN,NaN

1. 절대 경로
    - 절대적인 주소
    - 환경이 변하더라고 위치의 값이 변하지 않는다.
    - ex ) URL, c:/users/document/a.txt
2. 상대 경로
    - 상대적인 주소
    - 환경이 변하면 위치가 변화한다. 
        - ./ : 현재의 위치
        - ../ : 상위 폴더로 이동
        - 폴더명/ : 하위 폴더로 이동
        - ../test/a.csv : 상위 폴더 이동 -> test라는 하위 폴더로 이동 -> a.csv파일 선택