# 튜플, 리스트, 딕셔너리

In [ ]:
# 튜플
a = (1, "hello")
b = (3, 3.14)
c = a + b
d = a * 3
e = a[1]

print(a)
print(b)
print(c)
print(d)
print(e)

In [ ]:
a = (10, 20, 30, 40, 50)

print(a[1:3])

In [ ]:
print(a[1:])
print(a[:3])

In [ ]:
# 튜플 데이터 a에서 마지막 값만 출력하려면?
print(a[4])
print(a[-1])

In [ ]:
# (30, 40, 50)을 출력하려면?
print(a[2:])
print(a[-3:])

In [ ]:
# 리스트 
a = [20, 10, 40, 30]
b = [12, 99, 24, 55]

# 리스트의 순서를 오름차순 정렬로 변경
# sort 안에 reverse 매개변수에 인자 값을 True 변경하면 내림차순 정렬
a.sort()
# 리스트의 순서를 역순으로 변경
b.reverse()

print(a)
print(b)

In [ ]:
c = [5,4,1,2]

d = sorted(c)

print(c)
print(d)

In [ ]:
# 2차원 리스트
a = [
    [10, 20], 
    [30, 40], 
    [50, 60]
]

print(a)

In [ ]:
# 20을 출력하려면?
# 1. 가장 사이드에 있는 []를 삭제
    # 20은 리스트에서 1번째에 위치하기때문에 index = 0
print(a[0])
# 2. a[0]의 데이터 형태가 리스트이고 20이라는 숫자는 2번째에 위치하기 때문에 index = 1
print(a[0][1])

In [ ]:
# 2차원 리스트 a에서 50이라는 값을 출력하려면?
print(a[2])
print(a[2][0])

In [ ]:
# 딕셔너리 
a = {
    "name" : "test", 
    "age" : 20, 
    "phone" : "01012345678"
}
print(a)

In [ ]:
# 딕셔너리 데이터에서 test라는 문자열을 출력하려면?
print(a['name'])

In [ ]:
# 새로운 키 : 벨류 를 추가하려면
a['area'] = 'Seoul'

print(a)

In [ ]:
# 기존의 키 값의 벨류를 변경
a['age'] = 30

print(a)

In [ ]:
# DB에서 데이터를 받아오는 경우에는 데이터의 형태
# [{}, {}, {}]
test_data = [
    {
        'name' : 'test', 
        "age" : 20
    }, 
    {
        'name' : "test2", 
        'age' : 30
    }, 
    {
        'name' : 'test3', 
        'age' : 25
    }, 
    {
        'name' : 'test4', 
        'age' : 40
    }
]

In [ ]:
print(type(test_data))

In [ ]:
print(test_data[1])

In [ ]:
print(type(test_data[1]))

In [ ]:
print(test_data[1]['age'])

In [ ]:
# test_data에 있는 age 값들을 모두 출력
print(test_data[0]['age'])
print(test_data[1]['age'])
print(test_data[2]['age'])

In [ ]:
for i in range(0, len(test_data), 1):
    print(test_data[i]['age'])

In [ ]:
for i in test_data:
    print(i['age'])

In [ ]:
_list = [5, 3, 8, 1]

for i in _list:
    print(i)

for i in range(0, len(_list), 1):
    print(_list[i])

In [ ]:
print(list(range(1, 11, 1)))

In [ ]:
# test_data에서 이름 부분만 리스트의 형태로 출력

# 비어있는 리스트를 생성
result = []

for i in range(0, len(test_data), 1):
    # print(test_data[i]['name'])
    result.append(test_data[i]['name'])
print(result)

In [ ]:
# 1부터 100까지 중 3의 배수를 리스트 형태로 출력

# case1 (for)
result = []
for i in range(3, 101, 3):
    result.append(i)
print(result)

# case2 (for)
result = []
for i in range(1, 101, 1):
    if (i % 3 == 0):
        result.append(i)
print(result)

In [ ]:
print(list(range(3, 101, 3)))

In [ ]:
# case3(while)
result = []
i = 1

while i <= 100:
    if (i % 3 == 0):
        result.append(i)
    i += 1
print(result)

### 문제 
> 2부터 50까지 숫자 중 소수를 리스트의 형태로 출력하시오

1. 첫 번째 반복문에서는 2부터 50까지 반복을 하는 반복문 생성
2. 소수의 의미는 1과 자기 자신 외에는 나누어지지 않는다. 
3. 반복문 안에 bool의 형태의 데이터를 만들어서 True 지정
4. 두 번째 반복문을 이용하여 2부터 시작하여 (자기 자신(i) -1)까지 나누어 나머지 값이 0이면 3번 과정에서 만들어둔 변수가 False 변경
5. 두 번째 반복문에서 나와서 bool형태의 변수를 조건으로 사용하여 True인 경우에는 리스트에 추가

In [50]:
result = []

# 1. 첫번째 반복문은 2부터 50까지 반복을 하는 반복문은 생성
for i in range(2, 51, 1):
    # 반복문 안에 bool 현태의 데이터를 하나 생성 (True)
    a = True
    # 4. 두 번째 반복문을 생성 2부터 시작해서 i-1까지 반복문 생성
    for j in range(2, i, 1):
        # i와 j를 나눈 나머지 값이 0이면 a = False
        if (i % j == 0):
            a = False
    # 5. bool형태의 변수를 조건식으로 사용하여 조건문 생성 참이면 리스트에 추가 
    if a:
        result.append(i)

print(result)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [51]:
# 문자열 함수

# 대문자 변경, 소문자 변경
text = 'Hello World'

print(text.upper())
print(text.lower())

HELLO WORLD
hello world

In [53]:
text = "  Hello World  "
text

'  Hello World  '

In [54]:
# 좌 우 공백을 제거하는 문자열 함수
print(text.lstrip())
print(text.rstrip())
print(text.strip())

Hello World
  Hello World
Hello World

In [55]:
# 선택한 문자열을 다른 문자열로 변경하는 함수
# replace(선택한 문자열, 변경될 문자열)
print(text.replace('Hello', 'Hi'))

  Hi World

In [56]:
# replace를 이용하여 공백을 제거 
print(text.replace(" ", ""))

HelloWorld

In [58]:
# 기준이 되는 값으로 문자열을 나눠주는 함수
a = 'a,b,c,d,e'
print(a)
print(a.split(','))

a,b,c,d,e
['a', 'b', 'c', 'd', 'e']

In [61]:
b= 'a-b-c-d-e'
print(b.split('-'))

['a', 'b', 'c', 'd', 'e']